@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");

/* Hero Section CSS */

.hero-section {
  padding-top: 8vw;
  height: 80vh;
  width: 100%;
  position: relative;
}

.hero-title {
  font-size: 3vw;
  font-family: var(--ff-neue-medium);
  color: var(--soft-beige);
  line-height: 1.5;
}

.hero-title span {
  font-size: 2.8vw;
}

.hero-buttons .btn {
  color: var(--vibrant-orange);
  font-family: var(--ff-neue-light);
  background-color: #ff660022;
  border-radius: 2vw;
  padding: 0.3vw 1vw;
  border: solid 0.2px var(--vibrant-orange);
  margin: 0.5vw 0.9vw;
}

.services-list p {
  margin-top: 30px;
  font-size: 1.5vw;
  color: var(--dark-grey);
  font-family: var(--ff-neue-light);
}

/* Stats Testimonial Section CSS */

/* Selected Work Section CSS */
/* Section Styling */
#selected-work-section {
  position: relative;
  height: 100vh;
  background: url("https://placehold.co/600x400") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--soft-beige);
}

/* Title */
.section-title {
  font-size: 3.5vw;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Button Styling */
.btn-primary {
  background-color: var(--vibrant-orange);
  color: var(--soft-beige);
  padding: 12px 24px;
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  border-radius: 25px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #d55a07;
}

/* FAQ Section CSS */

#faq-section {
  background-color: var(--charcoal-black);
  color: var(--soft-beige);
  text-align: center;
  padding: 7vw 2vw 13vw;
  width: 100%;
}

#faq-section h2 {
  font-size: 4vw;
  margin-bottom: 5px;
}

#faq-section p {
  font-size: 1.5vw;
  color: var(--dark-grey);
  margin-bottom: 25px;
}

.faq-tags span {
  color: var(--vibrant-orange);
  font-family: var(--ff-neue-light);
  background-color: #ff660022;
  border-radius: 2vw;
  padding: 0.3vw 1vw;
  border: solid 0.2px var(--vibrant-orange);
  margin: 0.5vw 1vw;
  display: inline-block;
}

.faq {
  width: 80%;
  margin: 3vw auto 0;
}

.faq-item {
  margin-bottom: 15px;
  border-bottom: 1px solid #333;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 15px 10px;
}

.faq-question span {
  font-size: 1.7vw;
}

.faq-toggle {
  background: none;
  border: none;
  color: var(--soft-beige);
  font-size: 1.7vw;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.faq-answer {
  text-align: left;
  display: none;
  padding: 0.5vw 0.8vw;
  color: var(--dark-grey);
  font-size: 0.9rem;
}

.faq-answer p {
  margin: 0;
}

.faq-item.active .faq-answer {
  display: block;
}

.faq-item.active .faq-toggle {
  transform: rotate(45deg);
}
